.main-body{
    display: flex;
    justify-content: center;
}
.section{
    width: 98%;
    border: ;
    display: flex;
    justify-content: center;
    border:5px solid;
    border-style: double;
    

}
.main{
    width: 70%;
}
.logo{
    display: flex;
    justify-content: center;
}
.navbar{
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(77, 76, 76);
}
.navbar>ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.navbar>ul>li{
    list-style: none;
    margin-left: 3rem;
}
.navbar>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
}
.navbar>ul>li>a:hover{
    color: rgb(233, 184, 184);
}
.photos{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
}
.photos>img{
    display: flex;
    flex-wrap: wrap;
    width: 18rem;
    height: 15rem;
}
.content{
    margin-bottom: 5rem;

}
.content>p{
    display: flex;
    font-family: sans-serif;
    letter-spacing: 0.09rem;
    line-height: 1.5rem;
    text-align: justify;
    min-width: 300px;
}
